@import "../../Styles/mixin";

.support {
  @include flexbox(space-between, center);
  padding: 35px 0;
  border-bottom: 3px solid white;
  
  @include respond-to-large {
    max-width: 1024px;
  }
  @include respond-to-medium {

    max-width: 768px;
  }
  @include respond-to-small {
    max-width: 425px;
  }
  div:nth-child(2) {
    @include flexbox(center, center);
    gap: 15px;
    flex-direction: column;
    @include respond-to-large {

      max-width: 980px;
      text-align: center;
    }
    @include respond-to-medium {
      max-width: 700px;
      text-align: center;
    }
    @include respond-to-small {
      max-width: 350px;
      text-align: center;
    }
    img {
      width: 345px;
      height: 105px;
      @include respond-to-medium {
        width: 200px;
        height: 50px;
      }
      @include respond-to-small {
        width: 100px;
        height: 25px;
      }
    }

    h1 {
      color: white;
      font-size: 45px;
      font-weight: 500;
    }
    p {
      // width: 550px;
      color: white;
      text-align: center;
      line-height: 25px;
      font-weight: 400;
      font-family: inherit;
    }
    .h3 {
      color: #a78d9b;
      cursor: pointer;
      transition: 0.3s;
    }
    .h3:hover {
      color: orange;
    }
    h4 {
      color: white;
    }
  }
  .coctail_db {

    @include respond-to-medium {
      max-width: 220px;
      height: 110px;
    }
    @include respond-to-small {
      max-width: 110px;
      height: 55px;
    }
  }
}
