@import "../../Styles/mixin";

header {
  height: 90px;
  background: #1d000d;
  @include respond-to-medium {
    max-width: 768px;
  }
  .header {
    height: 90px;
    @include flexbox(space-between, center);
    @include respond-to-large {
      max-width: 1024px;
      padding: 0 20px;
    }
    @include respond-to-medium {
      max-width: 768px;
    }
    @include respond-to-small {
      max-width: 425px
    }

    .burger_menu {
      display: none;
      .burger_btn  {
        color: white;
        font-size: 30px;
      }
      @include respond-to-medium {
        display: block
      }
    }

    .nav_header {
      @include flexbox(space-between, center);
      width: 290px;
      // gap: 20px;
      @include respond-to-medium {
        display: none;
      }
      button:first-child {
        width: 63px;
        height: 34px;
        background-color: #c52d2f;
        color: white;
        border-radius: 5px;
      }
      button:nth-child(2) {
        width: 45px;
        height: 34px;
        border: none;
        background: none;
        color: white;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          background: #c52d2f;
        }
      }
      input {
        width: 120px;
        height: 35px;
        padding-left: 5px;
        border-radius: 5px;
      }
    }
  }
}
